
body {
  margin: 0;
  padding: 0;
  height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
  background-color: indianred;
}

.display {
  width: 365px;
  height: 80px;
  border: 1px solid black;
  background-color:white;
  margin-bottom : 10px;
  

}

#previous_value{
  font-size: 15px;
  text-align: right;
  color: #747474;
  margin-bottom : 4px;
  margin-top : 4px;
  margin-right: 10px;
}

#current_value{
  width: 355px;
  border: none;
  font-size: 30px;
  font-weight: 650;
  text-align: right;
  margin-right: 10px;
}

input:focus,
input:active{
	outline:none;
	/*border-radius:4px 가능 */
}


.calc_button {
    width: 85px;
    height: 85px;
    border: 1 solid white;
    outline: 0;
    background-color: #4d4d4d;
    font-size: 25pt;
    color: white;
    text-align: center;
    margin-bottom : 8px;
    margin-right : 8px;
    
}

.calc_button:hover {
    width: 85px;
    height: 85px;
    border: 0;
    outline: 0;
    background-color: #747474;
    font-size: 25pt;
    color: white;
    text-align: center;
}

.history_button {
  width: 160px;
  height: 35px;
  font-size: large;
  font-weight: bold;
  margin-bottom : 13px;
  background-color: #ff8c8c;
  color: rgb(255, 255, 255);
  
}

.history_button:hover {
  background-color: #d8d8d8;
}

.equal {
  font-size: 20px;
}

.modal_button{
  margin-top: 20px;
  width: 360px;
  height: 60px;
  font-size: 23px;
  font-weight: 700;
  color: rgb(82, 21, 19);
  background-color: rgba(255, 255, 255, 0.533);
  border: 0;
}

.modal_button:hover {
  background-color: #e7e6e6;
}

.history{
  width: fit-content;
}

.frame{
  align-items: center;
  display: flex;
  flex-direction: column;
}

